body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.bg-header {
    width: full;
    background-color: rgb(255, 196, 0);
    border: 1px solid rgb(250, 88, 13);
  }

  .padding-body{
    padding: 20px;
  }

  .flex-container {
    display: flex;
    gap: 30%;
   justify-content: center;
}

.maginl{
    margin-left: 10px;
}
